# Unity
**/Library/
**/Temp/
**/Obj/
**/Build/
**/Builds/
**/Logs/
**/UserSettings/

# File sensibili e scorciatoie
anthropic key.txt
.env
*.lnk
SharedScreenshot.jpg
_backup ShoppingListBackup/

# Python
**/__pycache__/
*.pyc
.venv/